<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title><%= @page.title %> - <%= @site.name %></title>

    <link rel="shortcut icon" href="<%= asset("images/favicon.ico") %>" type="image/x-icon">
    <link rel="icon" href="<%= asset("images/favicon.ico") %>" type="image/x-icon">

    <link rel="stylesheet" href="<%= asset("css/style.css") %>">
    <link rel="stylesheet" href="<%= asset("css/prism.css") %>">

    <style>
      img {
        max-width: 800px;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <header id="top">
        <h1><a href="<%= base() %>"><%= @site.name %></a></h1>
        <p><%= @site.description %></p>
      </header>

      <nav>
        <%= include "nav" %>
      </nav>

      <hr />

      <main><%= @contents %></main>

      <hr />

      <footer>
        <%= include "footer" %>
      </footer>
    </div>

    <script src="<%= asset "js/prism.js" %>"></script>
  </body>
</html>
